

body{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}



.main{
    background-color: lightcoral;
    width: 100vh;
    height: 100vh;
}


.container{
    background-color: lightgray;
    width: 60vh;
    height: 60vh;
    position: absolute;
    left: 20vh;
    top: 20vh;
}

.content{
    border-radius: 15px;
    position: absolute;
    border-color: red;
    border-style: solid 2px;
}

.anim{
        /* This block of CSS allows the objects to "drift to position" */
        transition: all 2s ease-in-out;
        -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
        -moz-transition: all 2s ease-in-out; /** Firefox **/
        -o-transition: all 2s ease-in-out; /** Opera **/
}
/* This block of CSS allows the ball to "fall to position" */
.animSlow{
    transition: 2.5s;
}

/* Normal */
.c1{
    background-color: blue;
    top:25vh;
    left: 10vh;

    width: 5vh;
    height: 10vh;
}
.c2{
    background-color: red;
    top:25vh;
    left: 20vh;

    width: 5vh;
    height: 10vh;
}
.c3{
    background-color: green;
    top:25vh;
    left: 35vh;

    width: 5vh;
    height: 10vh;
}
.c4{
    background-color: orange;
    top:25vh;
    left: 45vh;

    width: 5vh;
    height: 10vh;
}

/* Alternate: */
.coneex{
    background-color: blue;
    top:5vh;
    left: 5vh;
    rotate: -360deg;
    width: 5vh;
    height: 25vh;
}
.ctwoex{
    background-color: red;
    top:5vh;
    left: 50vh;
    rotate: -360deg;
    width: 5vh;
    height: 25vh;
}
.cthreeex{
    background-color: green;
    top:30vh;
    left: 5vh;
    rotate: 360deg;
    width: 5vh;
    height: 25vh;
}
.cfourex{
    background-color: orange;
    top:30vh;
    left: 50vh;
    rotate: -360deg;
    width: 5vh;
    height: 25vh;
}

.ball{
    /* Ball defining attributes */
    background-color: black;
    border-radius: 100%;
    height: 2vh;
    width: 2vh;
}

/* Noseai */
.ballOne{
    top:-250vh;
    left: 300vh;
}

.ballOne1{
    top:29vh;
    left: 29vh;
}

/* left eye*/
.ballTwo{
    top:-150vh;
    left: 100vh;
}
.ballTwo1{
    top:25vh;
    left: 24vh;
}

/* right eye*/
.ballThree{
    top:-150vh;
    left: 70vh;
}
.ballThree1{
    top:25vh;
    left: 34vh;
}

/* mouthM1 */
.ballFour{
    top:-150vh;
    left: 200vh;
}
.ballFour1{
    top:35vh;
    left: 29vh;
}

/* mouthL1 */
.ballFive{
    top:-150vh;
    left: -50vh;
}
.ballFive1{
    top:34.7vh;
    left: 27vh;
}
/* mouthR1 */
.ballSix{
    top:-150vh;
    left: 20vh;
}
.ballSix1{
    top:34.7vh;
    left: 31vh;
}
/* mouthL2 */
.ballSeven{
    top:-150vh;
    left: 5vh;
}
.ballSeven1{
    top:34vh;
    left: 25.1vh;
}
/* mouthR2 */
.ballEight{
    top:-150vh;
    left: -33vh;
}
.ballEight1{
    top: 34vh;
    left: 32.9vh;
}