body {
    border: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
  }
  



   /* NAVBAR */


   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

   /*FLEX */
  h1 {
    text-align: center;
    display: block;
    font-size: 18px;
  }

  #h1Head{
    font-size: 25px;
    font-weight: 700;
    text-decoration: underline;
  }

  #h1Header{
    font-size: 30px;
    font-weight: 700;

  }
  
  .container {
    height: 150px;
    width: 100%;
    display: flex;
    background-color: whitesmoke;
  }
  
  .box {
    height: 75px;
    width: 100px;
    background-color: dodgerblue;
    border: 1px solid lightgrey;
    display: inline-block;
  }
  
  #flexstart {
    justify-content: flex-start;
  }
  
  #flexend {
    justify-content: flex-end;
  }
  
  #center {
    justify-content: center;
  }
  
  #spacearound {
    justify-content: space-around;
  }
  
  #spacebetween {
  justify-content: space-between;
  }

  /* P2 */

  #aligncenter {
    justify-content: center;
    align-items: center;  
  }
  #alignstart {
    justify-content: center;
    align-items: flex-start;  
  }
  #alignend {
    justify-content: center;
    align-items:flex-end;  
  }
  #alignbaseline {
    justify-content: center;
    align-items: baseline;  
  }

/* Flex direction */

.containerFlex {
  background-color: whitesmoke;
  display: flex;
  max-height: 600px;
  align-items:center;
}
.boxFlex {
  background-color: dodgerblue;
  border: 1px solid white;
  width: 100px;
  height: 100px;
}

  #row {
    flex-direction:row;
  }
  
  #row-reverse {
    flex-direction:row-reverse;
  }
  
  #column {
    flex-direction:column;
  }
  
  #column-reverse {
    flex-direction:column-reverse;
  }