
body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-color: white;
    font-size: 22px;
    text-align: center;
}

.header{

}

.navbar{

}

/* Main */


.main{

}

.mission{

}

.content{

}


/* Portfolio */

#portfolio{

}

.companies{

}

.company{

}

/* Team Container */

#team-container{

}

.team{

}

.teammate{

}

/* Contact and Copyright */

.contact{

}

.copyright{

}