
@font-face {
    font-family: Proxima Nova;
    src:local('Proxima Nova');
    src: url("./fonts/Proxima\ Nova\ Font.otf") format('opentype');
}
body, html {
    height: 100%;
    
  }


body {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    padding: 0;
    margin: 0;
    color: white;
    background-image:url("forrest.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    display: flex;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5)
}

.logoImg{
    margin-left: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.searchfield{
    margin-top: 1rem;
    place-self: center;
    margin-left: 10%;
    width: 45%;
    height: 1.5rem;
    opacity: 1;

}

.logInBtn{
    margin-top: 1rem;
    margin-left: 10%;
    height: 2rem;
    width: 6rem;
    background-color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    color: white;
    font-size: 18px;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    cursor: pointer;
    
}

.signUpBtn{
    margin-top: 1rem;
    margin-left: 1%;
    height: 2rem;
    width: 6rem;
    border-radius: 10px;
    border-style: none;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
} 


.center{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.callout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1{
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-size: 70px;
    font-weight: 600;
    line-height: 56px;
    filter: brightness(200%) contrast(200%)
}

.descr{
    text-align: center;
    line-height: 32px;
    /* vertical-align: middle; */
    filter: brightness(200%) contrast(200%)
}
h3{
    font-size: 32px;
    font-weight: 600;
}

.start4free{
    width:fit-content;
    padding: 1rem 2rem 1rem 2rem ;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.credits{
    position: fixed;
    bottom: 100px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}


.navbarBottom{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.buttonClass{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}
.btn{
    background-color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    color: gray;
    cursor: pointer;
}